.debug {
    border: 1px solid black;
    min-height: 50px;
}

ol,ul,li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* COLOR PALETTE */
:root {
    --light-gray:#f7f7f7;
    --blue:#1b72e8;
    --light:#ffffff;
    --dark:#051e34;
    --gray:#e5e5e5;
    --dark-gray:#5b5858;
}

.toolbar {
    height: 70px;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.toolbar .row {
    background-color: var(--light);
}

.toolbar .logo {
    width: 42px;
}

.toolbar div[class^="col"] {
    display: flex;
    align-items: center;
}

.search{
    position: relative;
}

.search input{
    height: 42px;
    text-indent: 25px;
    background-color: var(--gray);    
}

.search .fa-search{
    position: absolute;
    top: 15px;
    left: 22px;
}

.toolbar ul {
   color: var(--dark-gray); 
}

.side-bar {
    width: 70px;
    background-color: var(--dark);
    height: 100vh;
    color: var(--light);
    padding-top: 100px;
    padding-bottom: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mt-auto {
    margin-top: auto;
}

.side-bar__option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 20px;
    padding: 0 10px;
    line-height: 30px;
}

.side-bar__option:hover {
    background-color: rgb(255, 255, 255,0.5);
    cursor: pointer;
}

/* MEDIA QUERY */
@media (min-width: 992px) {
    .side-bar {
        width: 150px;
        align-items: flex-start;
    }
}